extends layout

block content  
  
  div(class='header')
      div(class='home-menu pure-menu pure-menu-horizontal pure-menu-fixed')
            a(class='pure-menu-heading' href='') Hello World!
            ul(class='pure-menu-list')
                li(class='pure-menu-item pure-menu-selected')
                    a(href='https://crusn1k.wordpress.com' class='pure-menu-link') My Blog                   
                li(class='pure-menu-item')
                    a(href='https://github.com/crusn1k/' class='pure-menu-link') GitHub
  div(class='content')
    div(class='splash')       
        p(class="splash-subhead") Stupid content goes here<-   
  
  