doctype html
html
  head
    title= title
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel='stylesheet', href='/stylesheets/c3.min.css')  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js" charset="utf-8"></script>
    <script src="/javascripts/graphy.js" charset="utf-8"></script>
  body
    block content
